absl-py==0.10.0
appdirs==1.4.4
argon2-cffi==20.1.0
astroid==2.3.3
astunparse==1.6.3
asyncio==3.4.3
atomicwrites==1.3.0
attrs==20.2.0
autopep8==1.5.3
backcall==0.2.0
beautifulsoup4==4.9.1
bleach==3.1.5
blessings==1.7
blis==0.4.1
bpython==0.19
bs4==0.0.1
cachetools==4.1.1
catalogue==1.0.0
certifi==2020.4.5.1
cffi==1.14.2
chardet==3.0.4
click==7.1.2
colorama==0.4.3
coverage==5.2.1
cssselect==1.1.0
curtsies==0.3.1
cycler==0.10.0
cymem==2.0.3
Cython==0.29.21
decorator==4.4.2
defusedxml==0.6.0
dnspython==1.16.0
docutils==0.16
en-core-web-lg==2.3.1
en-core-web-md==2.3.1
en-core-web-sm==2.3.1
entrypoints==0.3
enum34==1.1.10
et-xmlfile==1.0.1
eventlet==0.28.0
excelcy==0.4.1
fake-useragent==0.1.11
ffmpeg-python==0.2.0
future==0.18.2
gast==0.3.3
google-auth==1.22.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
greenlet==0.4.15
grpcio==1.32.0
h5py==2.10.0
idna==2.9
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
jdcal==1.4.1
jedi==0.17.2
Jinja2==2.11.2
joblib==0.15.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
lml==0.0.9
lxml==4.5.1
madmom==0.16.1
Markdown==3.3
MarkupSafe==1.1.1
matplotlib==3.3.0
mccabe==0.6.1
MIDIUtil==1.2.1
mido==1.2.9
mistune==0.8.4
monotonic==1.5
more-itertools==8.2.0
multitasking==0.0.9
murmurhash==1.0.2
nbconvert==5.6.1
nbformat==5.0.7
networkx==2.4
notebook==6.1.3
numpy==1.18.4
oauthlib==3.1.0
openpyxl==3.0.5
opt-einsum==3.3.0
packaging==20.3
pandas==1.1.1
pandocfilters==1.4.2
parse==1.15.0
parso==0.7.1
pickleshare==0.7.5
Pillow==7.1.2
plac==1.1.3
plaidbench==0.7.0
plaidml==0.7.0
plaidml-keras==0.7.0
pluggy==0.13.1
preshed==3.0.2
pretty-midi==0.2.9
prettytable==0.7.2
prometheus-client==0.8.0
prompt-toolkit==3.0.7
protobuf==3.13.0
py==1.8.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
pyee==7.0.2
pyexcel==0.6.4
pyexcel-io==0.5.20
pyexcel-xlsx==0.5.8
pyFluidSynth==1.2.5
pygame==1.9.6
Pygments==2.6.1
pylint==2.4.4
pyparsing==2.4.6
pyppeteer==0.2.2
pyquery==1.4.1
pyrsistent==0.16.0
pytest==5.4.3
pytest-cov==2.10.1
python-dateutil==2.8.1
python-engineio==3.13.2
python-Levenshtein==0.12.0
python-socketio==4.6.0
pytz==2020.1
pywin32==228
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.2
qtconsole==4.7.6
QtPy==1.9.0
requests==2.23.0
requests-html==0.10.0
requests-oauthlib==1.3.0
rope==0.17.0
rsa==4.6
scikit-learn==0.23.1
scipy==1.4.1
seaborn==0.11.0
selenium==3.141.0
Send2Trash==1.5.0
six==1.14.0
soupsieve==2.0.1
spacy==2.3.2
srsly==1.0.2
tabulate==0.8.7
tem-py==1.4.1
tempy==0.7
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.1
tensorflow-estimator==2.3.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
texttable==1.6.3
thinc==7.4.1
threadpoolctl==2.0.0
toml==0.10.1
torch==1.5.0
torchvision==0.6.0
tornado==6.0.4
tqdm==4.46.0
traitlets==5.0.0
urllib3==1.25.9
w3lib==1.22.0
wasabi==0.8.0
wcwidth==0.1.9
webencodings==0.5.1
websockets==8.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
windows-curses==2.1.0
wrapt==1.11.2
xlrd==1.2.0
XlsxWriter==1.3.3
